<a href="https://colab.research.google.com/github/ostramarkus/helloworld/blob/master/2_F%C3%B6rsta_programmet_variabler_och_datatyper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2 - Första programmet - funktionen `print()`, variabler och datatyper

I den här guiden kommer vi börja ta våra första steg inom Python-programmering. Här kommer du att lära dig:

1.   Att skriva ut text (*utdata*) med funktionen `print()`
2.   Att lagra information i **variabler**
3.   Att få *indata* från användaren med funktionen `input()`
3.   Datatyper - olika sorter av data

![Hello, world!](https://drive.google.com/uc?id=1m2IeRiV8Ru-GM4Tvd3wyRnWgUumX7E6r)

## Skriv ut "Hello, world!" med `print()`


När man lär sig ett nytt programspråk är det tradition att börja med ett program som skriver ut texten `"Hello, world!"`. 

Text (eller annan information) som ett program presenterar för användaren kallas för *utdata* - eller *output* på engelska.

För att skriva ut text eller annan information från ett Python-program använder man funktionen `print`. (Mer om vad en *funktion* är tas upp i senare guider.)

In [ ]:
print("Hello, world!")

Hello, world!

Inom parenteserna () anger man det som ska skrivas ut. I vårt fall är det texten `Hello world!`. 

**Sträng** - Inom Python (och i många andra programsspråk) kallas textdata för en  *sträng* (*string* på engelska). En sträng omges alltid av citattecken (enkla: `'` eller dubbla: `"`). 

**Testa själv!** Innan du går vidare i guiden bör du testa att du själv kan skriva ut `Hello, world!` med Python.

## Räkna matte med Python - aritmetiska operationer
Man kan även enkelt använda Python för att räkna matte.

In [ ]:
print(4 * 2)
print(4 + 2)
print(4 / 2)

8
6
2.0

**Tips:** Om man använder **Google Colaboratory** eller Pythons repl-program behöver man inte använda funktionen `print` för att skriva ut något. Colaboratory skriver ut resultatet av det sista man skriver i en kod-cell. Exempel:

In [ ]:
2 + 4

6

### Matematiska tecken - aritmetiska operatorer

Här är en förteckning över de tecken (operatorer) man kan använda inom [aritmetik](https://sv.wikipedia.org/wiki/Aritmetik) i Python.

| Operator | Namn | Exempel |
|---|---|---|
| + | Addition | x + y
| - | Subtraktion | x - y	
| * | Multiplikation | x * y	
| /| Division|x / y|	
|%|	Modulus| x % y	
|** | Exponentiering | x ** y	 
| // |	Avrundad division(nedåt)| x // y

**Räkneordning - parenteser**. Precis som inom matematiken kan man använda parenteser för styra räkneordningen:

In [ ]:
print(2 * (2 + 4))

12

In [ ]:
print(2 * 2 + 4)

8

**Inga citattecken runt tal.** Observera att vi inte använder citattecken runt tal. Om vi hade använt citattecken runt talen hade de tolkats som en textsträng.

In [ ]:
print("4" + "2")

42

Här ovan ser vi att plustecknet **+** istället sätter ihop två textsträngar. Detta kallas inom programmering för *konkatenering*. 

Ett annat exempel:

In [1]:
print("Markus " + "Pettersson")

Markus Pettersson

##Variabler
I programmering har man ofta behov att **lagra information** i datorns minne för att sedan kunna nå informationen senare i programmet. För att lagra information kan man använda *variabler*. En variabel kan liknas vid en namngiven behållare för information. Information kan t.ex. vara text, heltal eller decimaltal. 

Här nedan skapar vi en variabel med **variabelnamnet** `efternamn`,  vi **tilldelar** sedan variabel texten `Pettersson`. Man kan likna det vid att vi stoppar in texten `Pettersson` i en behållare som vi gett namnet `efternamn`. En variabel kan man döpa till (nästan) vad som helst, men man bör välja namn som visar vad variabeln innehåller för information.

Eftersom `Pettersson` är en textsträng, alltså en serie sammanhängande tecken, omger vi texten med citattecken.

In [ ]:
efternamn = "Pettersson"

Vi kan sedan använda variabeln i t.ex. funktionen `print`.

In [ ]:
print(efternamn)

Pettersson

När man skriver ut en variabel med `print`-funktionen skrivs alltså variabelns innehåll ut.

Om vi vill **ändra värdet** (innehållet) för variabeln tilldelar vi den bara ett nytt värde:

In [ ]:
efternamn = "Andersson"
print(efternamn)

Andersson

### Numeriska variabler
Man kan också lagra nummer i variabler. Dessa variabler kan sedan användas i matematiska räkneoperationer.

In [ ]:
tal1 = 5
tal2 = 7

summa = tal1 + tal2
print(summa)

12

I exemplet ovan skapar vi en tredje variabel (`summa`) och tilldelar den resultatet av `tal1 + tal2`.

Man skulle kunna strunta i den tredje variabeln (`summa`) i exemplet ovan och i stället skriva:

In [ ]:
tal1 = 5
tal2 = 7

print(tal1 + tal2)

12

Och om man använder Google Colaboratory (eller liknande Notebook-program) skulle man kunna strunta i `print`-funktionen:

In [ ]:
tal1 = 5
tal2 = 7

tal1 + tal2

12

### Decimaltal
Hittills har vi bara använt oss av heltal, men man kan självklart räkna med decimaltal med Python. Viktigt att tänka på att man då använder **punkt** som decimaltecken, inte komma.

In [ ]:
tal1 = 2.5
tal2 = 3.3

print(tal1 * tal2)

8.25

##Datatyper
I exemplena ovan har vi använt oss av tre olika sorters data: text, heltal och decimaltal. Inom programmering kallas sorten av data för *datatyp*. (*Datatype* på engelska.) Dessa olika typer av data behandlas olika av datorns processor och har sina egna egenskaper och begränsningar.

Man kan t.ex. inte addera ett heltal med en textsträng:

In [ ]:
print("Ett" + 42)

TypeError: ignored

**Felmeddelanden**. Här ovan ser vi ett **felmeddlande** från Python. (Och när man programmerar kommer man stöta på många felmeddelanden - oavsett hur erfaren man är.) I felmeddelandet kan man se vilken sorts fel det rör sig om: `TypeError`. Vi ser också vilken rad felet kommer ifrån och sist får vi en kort förklaring till felet. Python säger åt oss att värdet vi vill addera eller sätta ihop ska vara en `str` (en textsträng) och inte en `int` (heltal).

De tre datatyper vi hittills använt oss av är:
* **Textsträngar** - t.ex. `"Jag vill ha glass!"`. I Python kallas dessa för **strings** - förkortat **str**.
* **Heltal** - t.ex. `100`. I Python kallas dessa för **integers** - förkortat **int**.
* **Decimaltal** - t.ex. `3.14`. I Python kallas dessa för **float** (och har ingen förkortning).

Om man vill ta reda på vilken datatyp ett värde eller en variabel är kan man använda funktionen `type()`.

In [ ]:
type("Markus Pettersson")

str

In [ ]:
type(5)

int

In [ ]:
type(3.1415)

float

###Konvertera mellan datatyper
Man kan i vissa fall konvertera ett värde till en annan datatyp:

* `str()` konverterar ett värde till en textsträng.
* `int()` konverterar ett värde till ett heltal.
* `float()` konverterar ett värde till ett decimaltal.

In [ ]:
heltal = 12

heltal_som_sträng = str(heltal)

print("Jag vill ha " + heltal_som_sträng + " glassar")

Jag vill ha 12 glassar

I exemplet ovan har vi heltalet 12 i variabeln `heltal`. För att sätta ihop det med en textsträng måste vi konvertera heltalet till en textsträng. Det gör vi på andra raden med funktionen `str()`.

Vi testar att konvertera ett decimaltal till ett heltal:

In [ ]:
decimaltal = 9.99
heltal = int(decimaltal)
print(heltal)

9

Här ser vi att konverteringen till heltal inte avrundar ett decimaltal uppåt, den tar bara bort allt efter decimaltecknet. (Om man vill avrunda ett tal får man använda funktionen `math.round`.)

## Få indata från användaren med funktionen `input()`
Om man vill fråga programmets användare efter information kan man använda funktionen `input()`. Inom parenteserna skriver man ett meddelande eller en fråga till användaren.

In [ ]:
ålder = input("Hur gammal är du? ")
print("Du är " + ålder + " år gammal.")

Hur gammal är du? 100
Du är 100 år gammal.

I exemplet ovan frågar vi efter användarens ålder med funktionen `input()`. Svaret lagrar vi i variabeln `ålder`. Vi skriver sedan ut åldern i ett svar genom att *konkatenera* text med vår variabel.

**Obs:**  det man får tillbaka från `input` är alltid en textsträng. Om man vill göra någon matematisk operation med värdena får man konvertera dem till heltal eller decimaltal. Exempel:

In [ ]:
print("Ange två tal att addera.")

tal1 = input("Första talet: ")
tal2 = input("Andra talet: ")

summa = tal1 + tal2

print("Summa: " + summa)

Ange två tal att addera.
Första talet: 12
Andra talet: 10
Summa: 1210

**Exemplet ovan:** Eftersom de värdena vi får från användaren tolkas som textsträngar sätts de ihop (*konkateneras*) istället för att adderas. 

Så här skulle programmet istället kunna se ut:

In [ ]:
print("Ange två tal att addera.")

tal1 = int(input("Första talet: "))
tal2 = int(input("Andra talet: "))

summa = tal1 + tal2

print("Summa: " + str(summa))

Ange två tal att addera.
Första talet: 12
Andra talet: 10
Summa: 22

Här omsluter vi `input`-funktionerna i en `int`-funktion. Det gör att värdet konverteras till ett heltal innan det lagras i variablerna.

När vi sedan skriver ut summan konverterar vi det till en textsträng inom `print`-funktionen.

![alt text](https://drive.google.com/uc?id=12-0awSeQrwxTZBkwB4OrbOKQQK0esyxH)


## Övning 1 - ett program som räknar ut arean av en triangel
För att öva dig i det vi lärt oss hittills ska du göra ett program som räknar ut arean av en triangel. Programmet ska fråga efter **basen** och **höjden** på triangeln och skriva ut **arean**.



[Arean av en triangel](https://www.matteboken.se/lektioner/skolar-6/geometri/area)



---

##Sammafattning av guiden
`print()` - skriver ut något.

`input()` - låter användaren skriva indata till programmet.

**Variabel** är en behållare för data. En variabel tilldelas ett värde med tecknet `=`.

Data kan vara av olika sorter, så kallade *datatyper*.